@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-family: Open Sans;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
}

h2 {
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: -1px;
  text-align: left;
}

h3 {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
}

h4 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

h5 {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.62px;
  letter-spacing: 2px;
  text-align: left;
}

.body {
  font-family: Eina 03;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.16px;
  letter-spacing: -0.5px;
  text-align: left;
}

@media (min-width: 480px) {
  h1 {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -1px;
    text-align: left;
  }

  h2 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -1px;
    text-align: left;
  }

  h3 {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: left;
  }

  h4 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }

  h5 {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    letter-spacing: 2px;
    text-align: left;
  }

  .body {
    font-family: Eina 03;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.16px;
    letter-spacing: -0.5px;
    text-align: left;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
